.main{ 
    display:flex;
    justify-content: center;
    gap:20px
    
}
.main .first{
width:45%;
}
 .head{
    padding-top:10px;
    text-align: center;
}
.head h2{
    color: rgb(6, 25, 75);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 30px;
    margin-top:10px;
}
.head p{
    color:#ffc107
}
.main .first .image{
    height:500px;
    width: 100%;
   margin:0px !important;
}
.main .first .image:hover{
    transform:scale(1.1);
    transition:0.6s;
}
.main .sec{
  width:45%;
  padding-top:60px;
  
}
.main .sec h5{
font-size: 30px;
font-family: "Circular Bold", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:RGB(8, 43, 102);

font-weight: 700

}
.main .sec p{
    font-size: 18px;
    padding-top: 15px;
font-family: "Circular Regular", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:RGB(107, 114, 128);
font-weight: 400

}
@media screen and (max-width:870px){
    .main{ 
        display:block;
        justify-content: center;
    }
    .main .first{
    width:100%;
    }
    .main .sec{
        width:100%;
        padding:10px 15px;;
    }
    .main .first .image{
        height:550px;
        width: 100%;
       margin:0px !important;
    }

}
@media screen and (max-width:600px) {
    .head{
        padding-top:0px;
        text-align: center;
    }
    .head h2{
        color: rgb(6, 25, 75);
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-size: 25px;
        margin-top:15px;
        
    }
    .main .first .image{
        height:400px;
        width: 100%;
       margin:0px !important;
    }
}